__pycache__/
*.py[cod]
*.sqlite3-journal
.env
.env.*
.venv/
venv/
pw_env/
staticfiles/
.trae/
apps/content/tests.py
media/**
!media/
!media/.gitkeep
!media/content/
!media/content/fragments/
!media/content/fragments/Slowdive.png
!media/content/fragments/浅水湾.png
!media/content/fragments/奈良美智_-_STOP_THE_BOMBS.png
!media/content/media_items/
!media/content/media_items/covers/
!media/content/media_items/covers/原钻.png
!media/content/media_items/covers/Ludwig_Göransson_-_Oppenheimer_Original_Motion_Picture_Soundtrack.png
!media/content/media_items/covers/张悬_-_亲爱的...我还不知道.png
!media/content/media_items/covers/Stevie_Wonder_-_Talking_Book.png
!media/content/media_items/covers/蓝白红三部曲之红.png
!media/content/media_items/covers/Homework.png
!media/content/media_items/covers/Look_Back.png
!media/content/site_profile/
!media/content/site_profile/home/
!media/content/site_profile/home/首页背景图-三人组.jpg
!media/content/site_profile/about/
!media/content/site_profile/about/Odd_Taxi_ZW7P03M.jpg
.mypy_cache/
.pytest_cache/
.ruff_cache/
.idea/
.vscode/
Thumbs.db
Desktop.ini
!media/content/media_items/covers/Blur_-_13.png
!media/content/media_items/covers/Clairo_-_Immunity.png
!media/content/site_profile/home/首页背景图-三人组_YnOjfGc.jpg